<h1> Nilai Statis dan Dinamis</h1>

In [1]:
first_name = input('insert your first name')
middle_name = input('insert your middle name')
last_name = input('insert your last name')

print("Hello ", first_name, middle_name, last_name, "!!")

insert your first name M.
insert your middle name Robi
insert your last name Firmansyah

Hello  M. Robi Firmansyah !!

<h1> Luas Keliling Persegi</h1>

In [9]:
#Luas => p * L
#Keliling => 2 * (p+l)

panjang = input('Panjang')
lebar = input('Lebar')
Luas = int (panjang) * int (lebar)
Keliling = 2 * (int (panjang) + int (lebar))

print("Luas : ", Luas)
print("Keliling : ", Keliling)

Panjang 6
Lebar 5

Luas :  30
Keliling :  22

<h1> Output Separator</h1>

In [13]:
print("12", "April", "2004", sep='\n')

12
April
2004

<h1> Mempormat dengan String </h1>

<h1> Memformat dengan Key </h1>

In [18]:
bulan1 = "April"
bulan2 = "Desember"
bulan3 = "Maret"

print("Nama-nama bulan {2},{0},{1}".format(bulan1,bulan2,bulan3))

Nama-nama bulan Maret,April,Desember

<h1> Memformat Pengenalan dengan String </h1>

In [ ]:
print("Nama saya {fname} {lname}".format(fname='M. Robi Firmansyah'

In [7]:
kampus = "Universitas Nusa Putra"
print(kampus[0]) #u
print(kampus[-1]) #a
print(kampus[0:11])
print(kampus[0:])
print(kampus[12:])
print(kampus[::])
print(kampus[::-1])

U
a
Universitas
Universitas Nusa Putra
Nusa Putra
Universitas Nusa Putra
artuP asuN satisrevinU

In [3]:
p = 10
l = 10
print(f'luas persegi = {p*l}')
print(f'keliling persegi = {2*(p+l)}')

luas persegi = 100
keliling persegi = 40

In [9]:
nama_siswa = "Dipsi,Lala,Pou"

print(nama_siswa.split(','))
print('@'.join(nama_siswa.split(',')))

['Dipsi', 'Lala', 'Pou']
Dipsi@Lala@Pou

<h1> Tugas </h1>

In [38]:
#input = nama
#input = tanggal lahir

#output :
#nama anda :
#tanggal :
#bulan :
#tahun :
#inisial :

nama = input('Nama')
tanggal = input('Tanggal Lahir')

tgls = tanggal.split('/')
namas = nama.split()

print(f"nama anda : {nama}")
print(f"Tanggal : {tgls[0]}")
print(f"Bulan : {tgls[1]}")
print(f"Tahun : {tgls[2]}")
print(f"Inisial : {namas[0][0]}{namas[1][0]}{namas[2][0]}")

Nama M. Robi Firmansyah
Tanggal Lahir 14/April/2004

nama anda : M. Robi Firmansyah
Tanggal : 14
Bulan : April
Tahun : 2004
Inisial : MRF